
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: 16px;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    max-width: 1160px;
    margin: 0 auto;
}

/* Navbar Related Styles */
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;   
    
}

.brand{
    display: flex;
    align-items: center;
    
}
.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    

}


li a{
    text-decoration: none;
}
.logo{
    height: 62px;
    width: 62px;
}
.logo-name{
    margin-left: 10px;
}

.menu{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.btn-m{
    background-color: orange;
    border-width: 0;
    height: 50px;
    width:197px ;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin-left: 20px;
}
.menu-items{
    list-style: none;
    gap: 20px;
}

/* Hero Section Related Styles */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.empower{
    max-width: 640px;
    height: auto;
}

.empower >h1{
    font-size: 3.5rem;
    margin-bottom: 24px;
}

.empower>p{
    font-size: 1.25rem;
    margin-bottom: 24px;
    margin-left: 0;
}

.empower>button{
    height: 50px;
    width: 197px;
    font-size: 1.25rem;
    background-color: black;
    border-style: none;
    color: white;
    border-radius: 12px;

}



section >h1{
    font-size: 2rem;
}

/* Standerd Curiculam Section Related Styles */
.std_curriculum>h1{
    font-size: 3rem;
    margin-top: 60px;
    margin-bottom: 80px;
    text-align: center;
}

.std_btn_gropu{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;

}
    

.std_curriculum{
    background-image: url(/assets/bg.png);
    text-align: center;
}

.std_btn{
    height: 60px;
    width: 60px;
    color: white;
    background-color: orange;
    border-radius: 30px;
    border-style: none;
    font-size: 2rem;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 10px;
    margin-left: 10px;
    
}

.card_perents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 30px;
}



.card_child_1>img, h2,p,h3{
    margin: 20px;
    padding: 20px;
    gap: 20px;
    
}

.card_child_1{
    background: linear-gradient(to bottom, #DEF5FF 10%, white 20%);
    border-radius: 18px;
  
    
}

.card_child_2>img, h2,p,h3{
    margin: 20px;
    padding: 20px;
    gap: 20px;
    
}

.card_child_2{
    background: linear-gradient(to bottom, #FFF4DC 10%, white 20%);
    border-radius: 18px;
    border stroke-width: 10px;
    
}

.card_child_3>img, h2,p,h3{
    margin: 20px;
    padding: 20px;
    gap: 20px;
    
}

.card_child_3{
    background: linear-gradient(to bottom, #F2E8FF 10%, white 20%);
    border-radius: 18px;
    
    
}
/* Our Stories Related Styles */
.our_stories{
    width: 100%;
    height: 1020px ; 

}


.our_stories_h{
    font-size: 2.9rem;
    text-align: center;
}

.our_stories{
    background-image: linear-gradient(to top, orange 20%, white 80%,),url(/assets/bg.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.str_card_g_1{
    max-height: 630px;
    max-width: 540px;
    border-radius: 16px;


}
.str_card_img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;


}
.str_card_btn{
    height: 50px;
    width: 175px;
    color: white;
    background-color: #3CD8E8;
    border-radius: 48px;
    border-style: none;
    margin-left: 30px;
    margin-top: -500px;

}

.str_card_g_2a1{
    height: 300px;
    width: 290px;
    margin: 0;
    padding: 0;
}
..str_card_g_2a1>h2{
    padding: 10px;
}
.str_card_g_2a2{
    height: 300px;
    width: 290px;
    margin: 0;
    padding: 10px;
}

.str_card_g_2b1{
    height: 300px;
    width: 290px;
    margin: 0;
    padding: 0;
}

.str_card_g_2b2{
    height: 300px;
    width: 290px;
    margin: 0;
    padding: 0;
}



.str_card_g_2a>h2{
    font-size: 1rem;

}

.str_card_g_2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

}

.str_btn{
    height: 50px;
    width: 197px;
    font-size: 1.25rem;
    background-color: black;
    border-style: none;
    color: white;
    border-radius: 12px;
    margin-left: 500px;
    
    

}

.str_card_g_2a{
    height: 300px;
    width: 600px;
    border-radius:16px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    

}

.str_card_g_2b{
    height: 300px;
    width: 600px;
    border-radius:16px ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    

}

.str_btn_g_2{
    height: 40px;
    width: 170px;
    font-size: 1 rem;
    background-color: #95B226;
    border-style: none;
    color: white;
    border-radius: 48px;
    margin left: 30px;
    
    
}

.str_card_g_2a1{
    margin: 0;
    padding: 0;
}

.str_btn_g_2>h2{
    font-size: 1rem;

}

.g2_img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

/* Footer Related styles */

footer{
    background-color: #01ACFD;
    margin-top: 80px;
    padding: 150px;
}

.footer_group{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.footer_logo_name{
    width: 400px;

}
.logo_name>img{
    height: 80px;
    width: 80px;
}

.logo_name{
    display: flex;
    gap: 10px;
}
.logo_name>h1,p{
    color: white;
    
}

footer li{
    list-style: none;
    color: white
    
}
.our_school{
    width:300px ;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer h1{
    color: white;
    font-size: 1.25rem;
}





@media screen and (max-width: 576px){
    .navbar{
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
    }
    nav{
        border-bottom: 1px solid orange;
    }
    .nav-items, .btn-m{
        display: none;
    }
    .hero {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 20px;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
    .empower >h1{
        font-size: 2.0rem;
        margin-bottom: 24px;
    }
    .empower>p{
        font-size: .87rem;
        margin-bottom: 24px;
    }
    .std_curriculum>h1{
        font-size: 1.6rem;
        margin-top: 60px;
        margin-bottom: 80px;
        text-align: center;
    }

    .card_perents {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 10px;
    }

    .str_card_g_1{
        display: none;
    }
    .str_btn{
        margin-left: 200px;
    }

    .footer_group{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        gap: 10px;
        padding: 10px;
    }


    
    
}
